.custom-input {
  height: 3rem;
  position: relative;
  width: 100%;

  input {
    height: 3rem;
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  // placeholder
  label {
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    left: 0;
    color: $antique-brass-5;
    pointer-events: none;
    display: block;
    transition: 0.5s;
  }

  input:focus + label,
  input:valid + label {
    font-size: 1.25rem;
    color: $light-grey-0;
    background-color: $yellow;
    padding: 3px 8px;
    transform: translateY(-3rem);
  }

  span.line {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background-color: rgba($antique-brass-5, 0.5);

    width: 100%;
    height: 2px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $yellow;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s ease-in-out;
    }
  }

  .line input:focus ~ .line:before,
  input:valid ~ .line:before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  .error-msg {
    position: absolute;
    bottom: 0;
    transform: translate(3px, 2.75rem);
    color: $warning;
    font-size: 1.5rem;
  }
}
